@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 10px #4f4f4f;
    height: 12vh;
}

#logo img {
    width: 40px;
}

#nav-list li {
    list-style: none;
    display: inline;
    margin-left: 50px;
    font-weight: 500;
}

#nav-list li a {
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    transition: .5s;
}

#nav-list li a:hover {
    font-size: 18px;
    padding-bottom: .5rem;
    border-bottom: 2px solid #000;
}

#presentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 88vh;
}

#presentation p {
    font-size: 30px;
    font-weight: 400;
}

#my-name {
    font-weight: bolder;
}

#img-container {
    width: 150px;
}