@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --global-primary-color: #0d0d0d;
    --global-Secondary-color: #1f1b1b;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
}

body {
    background: linear-gradient(to right, #0d0d0d 0, #0d0d0d 60%, #9a0eb6 0, #9a0eb6 100%);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    position: fixed;
    left: 0;
    width: 100%;
}

.scrolled {
    transition: 1s;
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(1rem);
}

#logo img {
    width: 40px;
}

#nav-list li {
    list-style: none;
    display: inline;
    margin-left: 50px;
    font-weight: 500;
}

#nav-list li a {
    text-decoration: none;
    letter-spacing: 1px;
    transition: .5s;
}

#nav-list li a:hover {
    font-size: 18px;
    padding-bottom: .5rem;
    border-bottom: 1px solid #fff;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#presentation h1  {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#my-name {
    color: #9a0eb6;
    font-size: 38px;
}

.socialMedia-container {
    display: flex;
    justify-content: center;
}

.socialMedia-icon i {
    font-size: 30px;
}

#img-container img {
    width: 150px;
}

#about {
    height: 95vh;
    background: var(--global-Secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about-content div {
    padding: 2rem;
}

#about-title {
    font-size: 25px;
}

#about-description {
    font-size: 18px;
    width: 50vw;
}

#art-container img {
    width: 18vw;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
}

#skills {
    height: 88vh;
    background: var(--global-primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    background: #1a1717;
    width: 350px;
    height: 300px;
    border-radius: 8px;
    box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, .6);
    transition: .8s;
}

.tech-icon {
    width: 45px;
    padding: 1.5rem;
}

.tech-name {
    font-size: 22px;
    padding-left: 1.5rem;
}

.tech-description {
    padding: 1.5rem;
    font-size: 18px;
}

.cards:hover {
    background: #202020;
}

#projects {
    background: var(--global-Secondary-color);
    height: 88vh;
}

#projects-title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 28px;
}

.projects-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-demo-card {
    background: var(--global-primary-color);
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

#contacts {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--global-primary-color);
}

.title-footer {
    margin: 28px;
    display: flex;
    justify-content: center;
}

#footer-nav li{
    display: inline-block;
    margin-left: 15px;
}

#footer-nav li a {
    text-decoration: none;
    transition: .3s;
}

#footer-nav li a:hover {
    color: #808080;
}

#medias-container {
    display: flex;
    justify-content: space-around;
}

#medias-container i{
    font-size: 25px;
}